.error404 {
  .hfeed {
    .site-content {
      .logo {
        margin: 40px 0;
        img {
          width: 300px;
          margin: 0 auto;

          @include tablet {
            width: 500px;
          }
          @include desktop {
            margin: 0 auto;
            width: 700px;
          }
        }
      }
      .content-area {
        .site-main {
          .not-found {
            .page-content {
              p {
                color: white;
                font-size: 20px;
              }
              .search-form {
                fieldset {
                  border: none;
                  .search-field {
                    width: 250px;
                    background-color: #2222;
                    box-shadow: none;
                    border: 2px solid $green_color;
                    padding: 8px;
                    color: white;
                  }
                  .search-submit {
                    background-color: #2222;
                    border: none;
                    box-shadow: none;
                    text-shadow: none;
                    font-size: 16px;
                    #search-icon {
                      color: $green_color;
                    }
                  }
                }
              }
            }
            .page-header {
              .page-title {
                color: white;
                font-size: 45px;
              }
            }
          }
        }
      }
    }
  }
}
