.archive.category {
  .site-content {
    @include desktop {
      margin: 4.5rem 175px 1.5rem;
    }
    .logo {
      margin: 40px 0;
      img {
        width: 300px;
        margin: 0 auto;

        @include tablet {
          width: 500px;
        }
        @include desktop {
          margin: 0 auto;
          width: 700px;
        }
      }
    }
    .content-area {
      position: relative;
      &:before,
      &:after {
        color: #0c0;
        font-family: FontAwesome;
        font-size: 125px;
        line-height: 125px;
        position: absolute;
        top: 0;
        display: none;
        @include desktop {
          display: block;
        }
      }
      &:before {
        content: '\f10d';
        left: -175px;
      }
      &:after {
        content: '\f10e';
        right: -175px;
      }
      .site-main {
        .pages {
          margin-top: 3rem;
          a {
            text-decoration: none;
            color: $green_color;
            padding: 0 0.25rem;
          }
        }
        .page-header {
          .page-title {
            border-bottom: 1px dashed white;
            margin-top: 3rem;
            padding-bottom: 1.5rem;
          }
        }
        .articles {
          border-bottom: 1px dashed white;
          .entry-content {
            p {
              font-size: 20px;
              color: white;
              @include tablet {
                font-size: 22px;
              }
              @include desktop {
                font-size: 30px;
              }
            }
          }
          .entry-header {
            .entry-title {
              margin: 30px 0;
              font-size: 20px;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}
