.page-template {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 2.5%;
  h2 {
    color: white;
  }
  .site-content {
    .logo {
      margin: 40px 0;
      img {
        width: 300px;
        margin: 0 auto;

        @include tablet {
          width: 500px;
        }
        @include desktop {
          margin: 0 auto;
          width: 700px;
        }
      }
    }
    .content-area {
      .site-main {
        .authors {
          ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            li {
              font-size: 1rem;
              margin-bottom: 0.5rem;
              margin-right: 1.2rem;
              a {
                text-decoration: none;
                color: $green_color;
              }
            }
          }
        }
        .taxo {
          ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            li {
              font-size: 1rem;
              margin-bottom: 0.5rem;
              margin-right: 1.2rem;
              a {
                text-decoration: none;
                color: $green_color;
              }
            }
          }
        }
        .cats {
          clear: both;
          content: '';
          display: table;
          ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            li {
              font-size: 1rem;
              margin-bottom: 0.5rem;
              margin-right: 1.2rem;
              a {
                text-decoration: none;
                color: $green_color;
              }
            }
          }
        }
      }
    }
  }
}
