.page-template {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 2.5%;
  h2 {
    color: white;
  }
  .site-content {
    @include desktop {
      margin: 2.5rem 175px 1.5rem;
    }
    .logo {
      margin: 40px 0;
      img {
        width: 300px;
        margin: 0 auto;

        @include tablet {
          width: 500px;
        }
        @include desktop {
          margin: 0 auto;
          width: 700px;
        }
      }
    }
    .content-area {
      position: relative;
      &:before,
      &:after {
        color: #0c0;
        font-family: FontAwesome;
        font-size: 125px;
        line-height: 125px;
        position: absolute;
        top: 0;
        display: none;
        @include desktop {
          display: block;
        }
      }
      &:before {
        content: '\f10d';
        left: -175px;
      }
      &:after {
        content: '\f10e';
        right: -175px;
      }
      .site-main {
        .authors {
          ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            li {
              font-size: 1rem;
              margin-bottom: 0.5rem;
              margin-right: 1.2rem;
              a {
                text-decoration: none;
                color: $green_color;
                &:hover {
                  color: darken($green_color, $amount: 8);
                }
              }
            }
          }
        }
        .taxo {
          ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            li {
              font-size: 1rem;
              margin-bottom: 0.5rem;
              margin-right: 1.2rem;
              a {
                text-decoration: none;
                color: $green_color;
                &:hover {
                  color: darken($green_color, $amount: 8);
                }
              }
            }
          }
        }
        .cats {
          clear: both;
          content: '';
          display: table;
          ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            li {
              font-size: 1rem;
              margin-bottom: 0.5rem;
              margin-right: 1.2rem;
              a {
                text-decoration: none;
                color: $green_color;
                &:hover {
                  color: darken($green_color, $amount: 8);
                }
              }
            }
          }
        }
      }
    }
  }
}
