/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

h1 {
  font-family: $font_base;
  color: #fff;
}
body {
  background-color: #222;
}

.hfeed {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 2.5%;

  .site-content {
    .content-area {
      #new-quote {
        background-color: #222;
        border: 2px solid #0c0;
        border-radius: 3px;
        font-size: 1rem;
        padding: 0.75rem 2.25rem;
        box-shadow: none;
        text-shadow: none;
        color: #0c0;
        margin: 0 auto;
        display: block;
        &:hover {
          color: darken($green_color, $amount: 8);
        }
      }
      .site-main {
        .logo {
          margin: 40px 0;
          img {
            width: 300px;
            margin: 0 auto;

            @include tablet {
              width: 500px;
            }
            @include desktop {
              margin: 0 auto;
              width: 700px;
            }
          }
        }
      }
    }
  }
}

.site-footer {
  .site-info {
    flex-wrap: wrap;
    margin: 4.5rem 0 3rem;
    @include tablet {
      display: flex;
    }
    @include desktop {
      justify-content: flex-end;
    }

    .footer-nav {
      ul {
        display: inline-flex;
        list-style: none;
        margin: 0;
        padding: 5px;
        li {
          border-right: 1px solid white;
          line-height: 1;
          padding: 0 1rem;
          a {
            text-decoration: none;
            color: $green_color;
            &:hover {
              color: darken($green_color, $amount: 8);
            }
          }
        }
      }
    }
    p {
      color: white;

      @include tablet {
        line-height: 1;
        margin-top: 6px;
        margin-left: 5px;
      }

      a {
        text-decoration: none;
        color: $green_color;
        &:hover {
          color: darken($green_color, $amount: 8);
        }
      }
    }
  }
}
