.search {
  .hfeed.site {
    width: 100%;
    margin: 0 auto;
    padding: 2.5%;
    .site-content {
      @include desktop {
        margin: 2.5rem 175px 1.5rem;
      }
      .logo {
        margin: 40px 0;
        img {
          width: 300px;
          margin: 0 auto;

          @include tablet {
            width: 500px;
          }
          @include desktop {
            margin: 0 auto;
            width: 700px;
          }
        }
      }
      .content-area {
        position: relative;
        &:before,
        &:after {
          color: #0c0;
          font-family: FontAwesome;
          font-size: 125px;
          line-height: 125px;
          position: absolute;
          top: 0;
          display: none;
          @include desktop {
            display: block;
          }
        }
        &:before {
          content: '\f10d';
          left: -175px;
        }
        &:after {
          content: '\f10e';
          right: -175px;
        }
        .site-main {
          .number-pagination {
            .page-numbers {
              margin-top: 3rem;
              text-decoration: none;
              color: $green_color;
              padding: 0 0.25rem;
            }
            .current {
              color: #404040;
              font-family: $font__main;
              font-size: 1rem;
            }
          }
          .entry-content {
            p {
              color: white;
              font-size: 20px;
            }
          }
          .entry-header {
            display: flex;
            .entry-title {
              margin-right: 10px;
              color: white;
              a {
                text-decoration: none;
                color: $green_color;
              }
            }
          }
          .entry-summary {
            p {
              color: white;
            }
          }
        }
      }
    }
  }
}
