.page-template-default {
  .hfeed {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 4.5%;

    .site-content {
      .logo {
        margin: 40px 0;
        img {
          width: 300px;
          margin: 0 auto;

          @include tablet {
            width: 500px;
          }
          @include desktop {
            margin: 0 auto;
            width: 700px;
          }
        }
      }
      .content-area {
        .site-main {
          .entry-content {
            p {
              color: white;
              a {
                text-decoration: none;
                color: $green_color;
                &:hover {
                  color: darken($green_color, $amount: 8);
                }
              }
            }
          }
          .entry-title {
            color: white;
            font-size: 35px;
          }
        }
      }
    }
  }
}
